.DS_Store
.idea
.zos.session
.coverage_env
.solidity_coverage
build
.DS_Store
node_modules
artifacts
cache
tests
.env

# Ignore local deployment files
.openzeppelin/unknown-*.json

# Don't ignore deployments made to mumbai
!.openzeppelin/unknown-80001.json